html body {
    background-color: white;
    font-style: italic;
}


.container {
    margin-top: 50px;
}


.container ul {
    list-style-type: none;
}

.form-group button {
    background-color: black;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 30px;
}

.harita iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-top: 2rem;
}

footer {
    text-align: center;
    background-color: black;
    color: aliceblue;
    height: 50px;
    margin-top: 40px;
}